<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp-success</title>
</head>

<body>
    <div class="container">
        <div class="flex justify-content-center my-5">
            <div class="card my-5">
                <div class="card-body">
                    <p class="text-success">Successfull</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        let controller;
        if (navigator.serviceWorker.controller) {
            controller = navigator.serviceWorker.controller;
            controller.postMessage({
                message_type: "status",
                message: "SUCCESS",
            });
        }
    </script>
</body>

</html>